<form class="formCity" (ngSubmit)="(submit)" [formGroup]="cityForm">
  <h4 mat-dialog-title>Редактировать город</h4>
  <mat-dialog-content class="mat-typography">
    <!--<div class="form_content">-->

    <mat-icon mat-mini-fab color="primary" class="button_icon" [routerLink]="['/streets', data.city.id]" (click)="closeDialog()">add</mat-icon>
        Добавить Улицы

    <mat-form-field>
      <input
        matInput
        placeholder="Название"
        name="City"
        formControlName="name"
      />
      <mat-error *ngIf="hasError" class="form__error"
        >{{ errorMessage }}
      </mat-error>
    </mat-form-field>
    <!--  </div>-->
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button (click)="cancel()">Отмена</button>
    <button mat-raised-button [type]="submit" (click)="editCity()">
      Сохранить
    </button>
  </mat-dialog-actions>
</form>
