<body>
  <div class="container">
    <button mat-raised-button routerLink="/city" class="button_link">
      Назад
    </button>
    <h4>{{ city.name }}\Улицы</h4>
    <span mat-icon-button color="primary" (click)="addStreet(city)">
      <mat-icon class="span_button" aria-label="add">add</mat-icon>
    </span>

    <ng-container *ngIf="enumearableIsNotNull">
      <mat-accordion (matSortChange)="sortData($event)">
        <mat-expansion-panel *ngFor="let street of streets">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span mat-icon color="indigo" (click)="editStreet(street)">
                <mat-icon class="span_button" aria-label="Edit">edit</mat-icon>
              </span>

              <span mat-icon color="black" (click)="deleteStreet(street)">
                <mat-icon class="span_button" aria-label="Delete"
                  >delete</mat-icon
                >
              </span>
              улица {{ street.name }}
            </mat-panel-title>
            <mat-panel-description> </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <app-house [street]="street"></app-house>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-paginator
        [length]="pagination.totalCount"
        [pageSize]="pagination.pageSize"
        [pageSizeOptions]="pagination.selectItemsPerPage"
        (page)="switchPage($event)"
      >
      </mat-paginator>
    </ng-container>
    <ng-container *ngIf="!enumearableIsNotNull">
      <h4 class="null_enumerable">Пока нет улиц</h4>
    </ng-container>
  </div>
</body>
