<div class="container">
  <!--  <form class="formCity" (ngSubmit)="submit" [formGroup]="cityForm">
    <div class="form_header">
      <h4>Удалить город</h4>
    </div>
    <div class='actions'>

    </div>
  </form>-->
  <div class="form_header">
    <h4>Удалить Компанию</h4>
  </div>
  <mat-dialog-actions align="end">
    <button mat-raised-button (click)="cancel()">Отмена</button>
    <button mat-raised-button [type]="submit" (click)="confirm()">  Удалить </button>
  </mat-dialog-actions>
</div>
