<form class="formCity" [formGroup]="streetForm" (ngSubmit)="save()">
  <h4 mat-dialog-title>Редактировать улицу</h4>
  <mat-dialog-content class="mat-typography">
    <!--<div class="form_content">-->

       <!-- <button mat-mini-fab color="primary"
          aria-label="add"
          class="button_streets"
          >
          <mat-icon  [routerLink]="['/streets', data.city.id]" (click)="closeDialog()">add</mat-icon>
        </button> Добавить Улицы-->

    <mat-form-field>
      <input
        matInput
        placeholder="Название"
        name="street"
        formControlName="name"
      />
      <mat-error *ngIf="hasError" class="form__error"
        >{{ errorMessage }}
      </mat-error>
    </mat-form-field>
    <!--  </div>-->
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button (click)="cancel()">Отмена</button>
    <button mat-raised-button type="submit">
      Сохранить
    </button>
  </mat-dialog-actions>
</form>
